*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.containerCabe{
    background-color: rgb(16, 45, 206);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    list-style-type:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page{
    cursor: pointer;
    color: #fff;    
}

.page a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
}
.page a:hover{
background-color: rgb(39, 65, 211);
border-radius: 19%;
}

.logo{
    padding: none;
}