footer{
    background-color: rgb(16, 45, 206);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text{
    color: aliceblue;
}
.copy{
    color: #fff;
    text-align: center;
}