.gigaContainer{
    display: flex;
    justify-content: center ;
}
.containerSobre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 450px;
    align-items: center;
}
.containerSobre h1{
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.containerSobre img{
    width: 300px;
}